ul {
  list-style-type: none;
  margin: 10px;
  margin-top: 10px;
  padding: 0;
  width: 20%;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;
}

li {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}

li.active {
  background-color: #04AA6D;
  color: white;
}

li:hover:not(.active) {
  background-color: #555;
  color: white;
}

#registerComponent {
  margin-left: 22%;
  margin-top: 20px;
}

h3 {
  font-family: Calibri;
  font-size: 15pt;
  font-style: normal;
  font-weight: bold;
  color: black;
  text-align: center;
  text-decoration: underline;
}

table {
  font-family: Calibri;
  color: black;
  background-color: white;
  border-collapse: collapse;
  border: solid black;
  border-width: 1.5px;
}

table.inner {
  border: 0px
}

.selectBranch {
  appearance: none;
  background-color: lightgray;
  border: 1px solid black;
  padding: 0 1em 0 0;
  margin: 0;
  width: 50%;
  font-family: inherit;
  font-size: inherit;
  cursor: inherit;
  line-height: inherit;
  color: black;
}

.selectCourses {
  appearance: none;
  background-color: lightgray;
  border: 1px solid black;
  padding: 0 1em 0 0;
  margin: 0;
  width: 50%;
  font-family: inherit;
  font-size: inherit;
  cursor: inherit;
  line-height: inherit;
  color: black;
}

.selectedCourses {
  display: block;
}

.eachCourse {
  font-size: small;
  margin-bottom: -12px;
}

.addButton {
  text-align: center;
  margin-left: 44%;
  background-color: #04AA6D;
  box-shadow: inset;
  border-color: #04AA6D;
  color: white;
  font-size: large;
  font-weight: 500;
  margin-top: 15px;
}

#gender {
  display: flex;
}

#heading{
  color: black;
  margin-left: 30%;
}